<ion-header>
    <ion-navbar>
      <ion-title>Informativos</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h3>Informativos do Singarehst!</h3>
    <ion-list>
      <ion-item *ngFor="let informativo of informacoes" text-wrap>
        <ion-row><ion-col col-12 style="text-align: center"><p><strong>{{informativo.titulo}}</strong></p></ion-col></ion-row>
        <ion-row>
          <ion-col col-10><p>{{informativo.texto}}</p></ion-col>
          <ion-col col-2 *ngIf="informativo.anexo"><a href="{{informativo.urlAnexo}}" button ion-button icon-only ><ion-icon name="download"></ion-icon></a></ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
          loadingText="Carregando...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll> 
  </ion-content>
  