<ion-header>
    <ion-navbar>
      <ion-title>Clube Singarehst</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h3>Sobre o nosso clube</h3>
    <ion-list>
      <ion-item *ngIf="clube" text-wrap>
        <ion-row><ion-col col-12 style="text-align: center"><p>{{clube.texto}}</p></ion-col></ion-row>
      </ion-item>
    </ion-list>

    <ion-row *ngIf="clube">
      <ion-col col-12>
        <button ion-button class="submit-btn" full type="button" (click)="galeria()">Galeria de fotos</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button ion-button class="submit-btn" full type="button" (click)="viewCarteirinha()">Carteirinha de associado</button>
      </ion-col>
    </ion-row>
  </ion-content>
  