<ion-header>
    <ion-navbar primary>
      <ion-title>
        Galeria de Fotos
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="changeGrid()">
          <ion-icon *ngIf="!grid" name="md-grid"></ion-icon>
          <ion-icon *ngIf="grid" name="md-albums"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
</ion-header>
  
<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let foto of fotos" [attr.col-6]="grid ? true : null" [attr.col-12]="!grid ? true : null">
          <div>
            <img src="{{foto.urlImg}}" imageViewer>
          </div>
  
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
            loadingText="Carregando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll> 
</ion-content>